

@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: moon;
    src: url(../fonts/moon_get-Heavy.otf);
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: Futura;
    src: url(../fonts/futura_light_bt.ttf);
}


body {
	font-family: Futura,Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}


body:not(.custom-background-image):before, body:not(.custom-background-image):after {
	display: none;
}
a:hover,
a:active,
a:hover p,
.site_heading_1 a:hover,
.site_heading_1 a:active,
.site_heading_1 a:focus,
.main-navigation a:hover, .main-navigation a:focus {
	text-decoration: none!important;
}
.site {
	margin: 0!important;
}
.site-header {
	padding: 0!important;
}
.site_heading_1 {
	margin: 0;
	padding: 35px 0 20px;
	width: fit-content;
	font-size: 32px;
	font-weight: bold;
}
.site_heading_1 a {
	text-transform: uppercase;
	color: #000!important;
	text-decoration: none!important;
}
.site_heading_1 span {
	padding-top: 4px;
	font-size: 13px;
	text-align: left;
	display: block;
	font-weight: normal;
}
.heading_above {
	background-color: rgb(238,238,238);
}

.site-header-main {
	background-color: rgb(255,255,255);
	border-bottom: 1px solid #eee;
}
.site-header-main a {
	color: #000;
	padding: 10px 0;
	margin: 0 20px;
}
.site-header-main a:hover {
	color: #000;
}
a:hover {
	opacity: .9;
}
.main-navigation {
	padding: 25px 0;
}
.main-navigation a {

	border-bottom: 1px solid transparent;
	text-transform: uppercase;
}
.main-navigation a:hover, .main-navigation a:focus {
	color: #bfa267!important;
}

.main-navigation li.current-menu-item a,
.main-navigation li.current-menu-parent > a{
	color: #bfa267!important;
	border-bottom: 2px solid #bfa267;
}

.sub-menu a {
  margin: 0;
  padding: 10px 20px;
}

.main-navigation li:hover > ul, .main-navigation li.focus > ul {
  padding-top: 25px;
}

.main-navigation ul ul:before {
  top: 15px;
}

.site-header-menu {
	width: fit-content;
	margin: 0 auto;
}
.site-header-menu span {
	display: block;
	margin: 0 auto 3px;
	height: 2px;
	background-color: #666;
}
.hamburger,.menu-toggle:hover, .menu-toggle:focus {
	background-color: #fff;
}
.main-navigation ul li {
	display: inline-block;
	float: none!important;
}

.home_page h1 {
	color: #000;
    text-align: center;
    padding: 0 40px 15px;
    margin: 40px auto 30px;
    width: fit-content;
}
.home_page .ads {
	margin-bottom: 15px;
}
.home_item {
	margin-bottom: 15px;
}
.home_item p {
	margin: 5px 0;
	font-size: 14px;
}
.feature_area .home_title {
	font-size: 30px!important;
}
.feature_area p {
	font-size: 20px!important;
}
.feature_area .author {
	font-size: 16px!important;
}
.like_title {
	font-size: 18px!important;
	color: #666!important;
}
.editor_banner {
	margin-bottom: 30px;
	padding: 10px 0;
	background-color: #fdc92c;
}
.entry-title {
	margin-bottom: 10px;
}
h2.entry-title {
	margin-top: 0;
	font-weight: normal;
	font-size: 30px;
}
.editor_pick_cont {
	text-align: center;
}
.editor_pick_cont .icon {
display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.editor_pick_cont .icon img {
   width: auto;
  height: 100%;
  margin-left: -33px;
  max-width: none;
}
.editor_pick_cont p {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
}
.editor_top_picks .row {
	margin-bottom: 20px;
}
.editor_top_picks .left {
	position: relative;
}

.editor_top_picks .details {
	margin-top: 20px;
}
.home_title {
	font-family: "bebas";
}
.hamburger {
	display: none;
}
.menu-toggle.toggled-on {
	background-color: #fff!important;
}
.author {
	color: #666;
	font-size: 12px!important;
}
.home_title {
	font-weight: bold;
	font-size: 18px!important;
}
article p {
	font-size: 16px!important;
}
article .author {
	margin-top: -5px;
	font-size: 14px!important;
}
.curl_left:before, .curl_right:after,
.curl_left:after, .curl_right:before {
	position: absolute;
	top: 50%;
	font-size: 40px;
	line-height: 0;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	-o-transform: translateY(-50%);
 	transform: translateY(-50%);
}
.curl_right:before, .curl_left:before {
	content: "{";
	left: -20px;
}

.curl_left:after, .curl_right:after {
	content: "}";
	right: -20px;
}
.page-header {
	text-align: center;
	border-top: 4px solid transparent;
	border-bottom: none;
	margin-bottom: 40px;
}
article {
	width: 90%;
	margin: 0 auto;
}
.entry-header {
	margin: 0!important;
}
.site-footer {
	padding: 0;
}
.site-footer .site-inner {
	width: 100%;
}
.footer_bottom {
	display: block;
	width: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 0 35px;
}
.footer_area {
	width: 100%;
		background-color: #fdc92c!important;
}
.footer_area .col {
	width: 25%;
	float: left;
	padding: 30px 0;
}
.footer_area .col .content_f {
	width: 60%;
	margin: 0 auto;
}
.footer_area .col .content_f p {
	margin-bottom: 0;
	font-size: 14px;
}
.footer_area .col .content_f .social_links {
	margin-left: 0;
}
.footer_area .col .content_f .social_links li {
	display: inline-block;
	list-style-type: none; 
	font-size: 28px;
	margin-right: 10px;
}
.search-form label {
	margin-bottom: 0;
}
.footer_area p,
.footer_area a,
.footer_area i {
	color: #000;
}
p {
    color: #666!important;
}
.addtoany_header {
	font-weight: bold!important;
	margin-bottom: 5px!important;
}
.addtoany_share_save_container {
	margin-bottom: 20px!important;
}
.no-sidebar .comments-area {
	margin: 0 5%!important;
}
@media screen and (min-width: 61.5625em) {
body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    margin-right: 0;
    margin-left: 0;
	width: 100%;
}
}
@media only screen and (max-width: 992px) {
    .left_bd:after {
        display: none;
    }
	.es_textbox {
		margin: 0 20px;
	}
	.post-thumbnail {
		margin: 0;
	}
	.curl_left, .curl_right {
		display: none;
	}
	.menu-toggle {
		padding: 15px 10px 5px;
		font-size: 20px;
	}
	.main-navigation .primary-menu > li {
		text-align: center;
	}
	.editor_top_picks .left:after {
		display: none;
	}
	.home_page {
		width: 90%;
		margin: 0 auto;
	}
	.footer_area {
		text-align: center;
	}
	.footer_area .col,
	.footer_area .col .content_f {
		width: 100%;
		float: none;
	}
}
@media only screen and (max-width: 966px) {
	.hamburger {
		display: block;
	}
		.main-navigation ul li {
		display: block;
	}
  .page-header {
    padding: 0 20px;
  }
}


.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;

	width: 100%;
	height: auto;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

figure.effect-apollo {
	background: #fff;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	background-color: #bfa267!important;
	border-radius: 100%;
	padding: 23px 38px;
	color: #fff!important;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo figcaption h2 {
    position: absolute;
    bottom: 7%;
    right: 0;
    width: 100%;
    text-align: right;
    -webkit-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
figure.effect-apollo:hover figcaption h2 {
	bottom: 10%;
	opacity: 0;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}



/****** Featured  ******/

.featured {
	margin-bottom: 40px;
}

.featured .col-md-6 {
	padding: 0;
}

.featured .sub {
	background-color: #b7a261;
}

.featured .sub figure figcaption h2 {
	font-size: 80%;
	width: 80%;
}

.featured .sub figure figcaption p {
	font-size: 30px;
    padding: 15px 24px;
}



.heading-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
  z-index: 99;
}


.body_content {
	padding-top: 198px;
}

.heading-area.active {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;	
}

.slider {
	position: relative;
	border-bottom: 12px solid #b7a261;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slick-dots li {
	display: inline-block;
	list-style: none;
}

.slick-dots li button {
	padding: 6px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	text-indent: -9999px;
	background-color: rgba(255,255,255,.3);
	margin: 0 5px;
	border: 2px solid #fff;
}

.slick-dots li.slick-active button {
	border: 2px solid #b7a261;
	background-color: #b7a261;
}

.slick-dots li button:focus {
	outline: none!important;
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	} 
	100% {
		opacity: 0.9;

		transform: translateY(0);
	} 
}

@keyframes slide-up {
	0% {
		opacity: 0.9;
		position: fixed;
		top: 0;
		z-index: 99;
		transform: translateY(0);
	} 
	100% {
		opacity: 0;
		position: absolute;
		top: 0;
		z-index: 99;
		transform: translateY(-100%);
	} 
}

.article-items {
	padding-top: 35px;
	padding-bottom: 35px;
	margin-bottom: 35px;
	border-top: 1px solid #ddd;
}

.article-items a > div {
	display: inline-block;
	vertical-align: top;
}

.article-items a:hover span,
.article-items a:hover h2,
.article-items a:hover i {
	color: #b7a261!important;
}

.article-items a:hover .browse {
	background-color: #fff;
}

.article-items .date {
	color: #666;
	width: 8%;
	padding: 10px 0;
	border-top: 1px solid #b7a261;
	border-bottom: 1px solid #b7a261;
}

.article-items .date span {
	display: block;
	text-align: center;
}

.article-items .date .day {
	font-weight: bold;
	font-size: 16px;
}

.article-items .image {
	position: relative;
	width: 39%;
	padding: 0 25px 0 15px;
	box-sizing: border-box;
}

.article-items .image .browse {
	position: absolute;
	top: 10px;
	left: 25px;
	padding: 8px 12px;
	border-radius: 100%;
	background: #b7a261;
}

.article-items .image .browse i {
	color: #fff;
}

.article-items .image img {
	border-bottom: 4px solid #b7a261;
}

.article-items .detail {
	width: 49%;
}

.article-items .detail h2 {
	position: relative;
	margin-top: 8px;
	color: #666;
}

.article-items .detail h2:after {
	content: "";
    display: block;
    margin-top: 5px;
    width: 38px;
    height: 2px;
    background: #b7a261;
}

.article-items .detail p {
	font-size: 16px;
}

.editor_banner {
	padding: 4em 0;
	position: relative;
	background-size: cover;
	background-position: 90% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.editor_banner .overlay {
	background: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.editor_banner h1,
.editor_banner p {
	position: relative;
	z-index: 10;
	color: #fff!important;
}

.editor_pick_cont .icon {
	border: 2px solid transparent;
}

.editor_pick_cont:hover .icon {
	border: 2px solid #b7a261;
}

.editor_pick_cont:hover p {
	color: #b7a261!important;
}

.footer_area {
	background-color: #eee!important;
}

.footer_area p, .footer_area a, .footer_area i {
	color: #9b9b9b!important;
}

.search-form label {
	display: block;
}

input[type="search"].search-field {
	width: 100%;
}

input[type="search"].search-field:focus {
	border-color: #b7a261!important;
}

.search-submit:hover {
	background-color: #b7a261!important;
}

.search-submit:hover:after {
	color: #fff;
}

.footer_bottom {
	background-color: #fff!important;
	color: #333;
}

.page-header h1 {
    font-weight: 300;
    font-size: 40px;
    color: #b7a064;
    text-transform: uppercase;
    display: inline;
}

.header-divider {
	width: 800px;
    background: transparent url(//ddoie2e1uy9qo.cloudfront.net/images/Divider-Desktop.png) no-repeat 50%;
        height: 2px;
    display: inline-block;
}

.entry-title {
	font-family: Futura,Helvetica,Arial,sans-serif;
	font-weight: lighter;
	color: #b7a064!important;
}

a h2.entry-title  {
	color: #666!important;
}

.post-thumbnail {
	margin-bottom: 0;
}

.post-thumbnail img {
	border-bottom: 4px solid #b7a064;
}

.cat-item-list:hover div h2,
.home_item:hover a p.like_title  {
	color: #b7a064!important;
}

.cat-item-list {
	padding-bottom: 35px;
	margin-bottom: 35px;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 990px) {
  .like-image {
    max-height: 200px;
    overflow: hidden;
  }
  .search-form {
    margin: 0 20px;
  }
  .site-inner {
    padding: 0 20px;
  }
  .main-navigation li:hover > ul, .main-navigation li.focus > ul {
    padding-top: 0;
  }
  iframe {
    width: fit-content;
    display: table;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header-divider {
    width: 50%;
    display: block;
    background-size: 100%;
    margin: 20px auto 0;
  }
}

.comment-form label, .comment-reply-title {
  font-size: 1.7em;
  color: #b7a064
}

.logo {
  vertical-align: top;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-top: 15px;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

.site_heading_1 {
  display: inline-block;
}
